git+https://github.com/AGrigis/pysphinxdoc.git
ipython
numpy>=1.17.1
hiddenlayer>=0.2
tabulate>=0.8.6
matplotlib>=3.0.3
nibabel>=2.4.0
progressbar2>=3.39.3
requests>=2.9.1
pandas>=0.24.2
nilearn>=0.5.2
Pillow>=6.2.1
PySide2>=5.13.2
scikit-learn>=0.21.3
scikit-image==0.15.0
visdom>=0.1.8.8
h5py>=2.10.0
boto3>=1.12.27
scipy>=0.19.1
statsmodels>=0.11.1
sphinx==2.2.1
